@import url('https://fonts.googleapis.com/css?family=Muli:200,400,700|Poppins:300,400,500');

body {
  font-family: Muli, sans-serif;
  background: #ffffff;
}

/* All Buttons */

.btn-large {
  border-radius: 5px;
}

/* NavBar Section */

#logo {
  padding: 0 10px;
  width: 200px;
}

#jayd-nav {
  height: 75px;
}

ul li a {
  color: #37474f;
  font-size: 18px;
  font-weight: 700;
}

.burger {
  color: #37474f;
}

/* First Parallax Section */

h4 {
  color: #37474f;
  line-height: 50px;
}

#para-1-img {
  margin-bottom: 10%;
}

#my-name {
  font-size: 3.56rem;
  line-height: 48px;
  font-weight: 500;
}

.info {
  font-family: poppins, sans-serif;
  font-weight: 300;
  line-height: 38px;
}

#plane-animate {
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}

#plane-animate:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}


/* Research Section */

h2 {
  color: #37474f;
  font-weight: 300;
  font-family: muli, sans-serif;
}

.card .card-reveal .card-title {
  font-weight: 700;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.card-image {
    height: auto;
}

.research-headers {
  font-weight: bold;
  text-align: left;
  font-size: 28px;
}

/* Second Parallax Section */

#para-2 {
  height: 300px;
  margin-top: 5%;
}

.btn-large {
  background-color: #039be5;
}

/* About Section */

.about {
  font-size: 20px;
}

#about-row {
  padding-bottom: 20px;
}

b {
  font-size: 18px;
}

#about > div.row.center-align {
  margin-bottom: 0;
}

.bold-text {
  font-size: 20px;
  font-weight: bold;
}

/* Third Parallax Section */

#para-3 {
  margin-top: 3%;
  height: 300px;
}

#para-3-img {
  margin-bottom: -20%;
}

/* Contact Section */

@media (min-width: 1250px) {
  #contact-social > div > a > img {
    width: 5%
  }

}

.social {
  width: 7%;
  margin: 2%;
}

#contact-social {
  margin-bottom: 0%;
}

.social {
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}

.social:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

#contact-social > div > a:nth-child(1) > img {
  margin-left: 0;
}

/* MOBILE MEDIA QUERY's */

@media  (max-width: 745px) {

  #jayd-nav {
    text-align: center;
  }

}

@media (max-width: 600px) {

  #my-name {
    font-size: 16px;
  }

}
